body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333; /* Dark wood background */
  font-family: Arial, sans-serif;
  color: #ecf0f1;
}

canvas {
  background-color: #228B22; /* Green felt color */
  border: none; /* Remove the border */
}

